<table>
    <tr>
        <th style="padding-left:5px;padding-right:5px;">Item</th>
        <th style="padding-left:5px;padding-right:5px;min-width:7%;">Type</th>
        <th style="padding-left:5px;padding-right:5px;">Use</th>
        <th style="padding-left:5px;padding-right:5px;">Use Count</th>
        <th style="padding-left:5px;padding-right:5px;">Access Body Part</th>
        <th style="padding-left:5px;padding-right:5px;">Condition</th>
        <th style="padding-left:5px;padding-right:5px;">Weight</th>
    </tr>
{% for entry in site.pages %}
    {% if entry.page_category contains 'airway_management' %}
    <tr>
        <td style="text-align:left;width:fit-content;padding:4px;">
            <img src="{{ entry.infobox_image | relative_url }}" height="50"><a href="{{ entry.title }}">{{ entry.title }}</a>
        </td>
        <td style="padding:0;">
            {{ entry.infobox_item_type }}
        </td>
        <td style="text-align:left;">
            {{ entry.export_use }}
        </td>
        <td style="padding:0;text-align:center;font-size:18px;">
            {% if entry.infobox_item_usecount > 1 %}
            {{entry.infobox_item_usecount}}x
            {% elsif entry.infobox_item_usecount == 0 %}
            Re-usable
            {% else %}
            Single-use
            {% endif %}
        </td>
        <td style="width:7%;padding:4px;">
            {% case entry.infobox_use_selection %}
                {% when "head" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_head.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Head</div>
                {% when "arms" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_arms.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Arms</div>
                {% when "limbs" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_limbs.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Arms<br>Legs</div>
                {% when "torso" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_torso.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Torso</div>
                {% when "body" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_torso_limbs.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Torso<br>Arms<br>Legs</div>
                {% else %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_all.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text" style="width:50%;">All</div>
            {% endcase %}
        </td>
        <td style="text-align:left;">
            {{ entry.export_condition }}
        </td>
        <td>
            {{ entry.infobox_item_weight }}
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>