<table>
    <tr>
        <th style="padding-left:5px;padding-right:5px;">Medication</th>
        <th style="padding-left:5px;padding-right:5px;">Use</th>
        <th style="padding-left:5px;padding-right:5px;">Access</th>
        <th style="padding-left:5px;padding-right:5px;">Access Body Part</th>
        <th style="padding-left:5px;padding-right:5px;">Recommended Dose</th>
        <th style="padding-left:5px;padding-right:5px;">Onset</th>
        <th style="padding-left:5px;padding-right:5px;">Peak</th>
        <th style="padding-left:5px;padding-right:5px;">Duration</th>
        <th style="padding-left:5px;padding-right:5px;"><abbr title="Heart Rate">HR</abbr></th>
        <th style="padding-left:5px;padding-right:5px;"><abbr title="Blood Pressure">BP</abbr></th>
        <th style="padding-left:5px;padding-right:5px;"><abbr title="Respiration Rate">RR</abbr></th>
        <th style="padding-left:5px;padding-right:5px;">Pain Relief</th>
        <!--<th style="padding-left:5px;padding-right:5px;">Nausea</th>-->
    </tr>
{% for entry in site.pages %}
    {% if entry.page_category contains 'packaged_medication' %}
    <tr>
        <td style="text-align:left;width:fit-content;padding:4px;">
            <img src="{{ entry.infobox_image | relative_url }}" height="50"><a href="{{ entry.title }}">{{ entry.title }}</a>
        </td>
        <td style="text-align:left;">
            {{ entry.export_use }}
        </td>
        <td style="padding:0;">
            {% if entry.infobox_med_autoinjector %}
                IM
            {% else %}
            {% if entry.infobox_med_route %}
                {{entry.infobox_med_route}}
            {% elsif entry.infobox_med_iv and entry.infobox_med_im %}
                IV/IM
            {% elsif entry.infobox_med_iv %}
                IV Only
            {% else %}
                IM Only
            {% endif %}
            {% endif %}
        </td>
        <td style="width:7%;padding:4px;">
            {% case entry.infobox_use_selection %}
                {% when "head" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_head.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Head</div>
                {% when "arms" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_arms.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Arms</div>
                {% when "limbs" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_limbs.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Arms<br>Legs</div>
                {% when "torso" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_torso.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Torso</div>
                {% when "body" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_torso_limbs.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text">Torso<br>Arms<br>Legs</div>
                {% else %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_all.png' | relative_url }}" height="64" width="64"></div><div class="infobox-selection-text" style="width:50%;">All</div>
            {% endcase %}
        </td>
        <td style="text-align:left;">
            {% if entry.export_doserange %}
                {{ entry.export_doserange }}
            {% else %}
                {{ entry.infobox_med_dose }}
            {% endif %}
        </td>
        <td>
            {% if entry.infobox_med_route %}
                {{ entry.infobox_med_onset }}
            {% else %}
                {% if entry.infobox_med_iv and entry.infobox_med_im and entry.infobox_med_iv_onset and entry.infobox_med_im_onset %}
                    {{ entry.infobox_med_iv_onset }} | {{ entry.infobox_med_im_onset }}
                {% else %}
                    {{ entry.infobox_med_iv_onset }}{{ entry.infobox_med_im_onset }}
                {% endif %}
            {% endif %}
        </td>
        <td>
            {% if entry.infobox_med_route %}
                {{ entry.infobox_med_peak }}
            {% else %}
                {% if entry.infobox_med_iv and entry.infobox_med_im and entry.infobox_med_iv_peak and entry.infobox_med_im_peak %}
                    {{ entry.infobox_med_iv_peak }} | {{ entry.infobox_med_im_peak }}
                {% else %}
                    {{ entry.infobox_med_iv_peak }}{{ entry.infobox_med_im_peak }}
                {% endif %}
            {% endif %}
        </td>
        <td>
            {% if entry.infobox_med_route %}
                {{ entry.infobox_med_duration }}
            {% else %}
                {% if entry.infobox_med_iv and entry.infobox_med_im and entry.infobox_med_iv_duration and entry.infobox_med_im_duration %}
                    {{ entry.infobox_med_iv_duration }} | {{ entry.infobox_med_im_duration }}
                {% else %}
                    {{ entry.infobox_med_iv_duration }}{{ entry.infobox_med_im_duration }}
                {% endif %}
            {% endif %}
        </td>
        <td style="padding:2px;width:54px;font-size:16px;font-weight:bold;">
            {% if entry.infobox_med_effect_hr %}
            {% if entry.infobox_med_effect_hr_route %}<span style="font-size:12px;vertical-align:text-top;">({{ entry.infobox_med_effect_hr_route }})</span>{% endif %}
            <span style="letter-spacing:2px;">{{ entry.infobox_med_effect_hr }}</span>
            {% endif %}
        </td>
        <td style="padding:2px;width:54px;font-size:16px;font-weight:bold;">
            {% if entry.infobox_med_effect_bp %}
            {% if entry.infobox_med_effect_bp_route %}<span style="font-size:12px;vertical-align:text-top;">({{ entry.infobox_med_effect_bp_route }})</span>{% endif %}
            <span style="letter-spacing:2px;">{{ entry.infobox_med_effect_bp }}</span>
            {% endif %}
        </td>
        <td style="padding:2px;width:54px;font-size:16px;font-weight:bold;">
            {% if entry.infobox_med_effect_rr %}
            {% if entry.infobox_med_effect_rr_route %}<span style="font-size:12px;vertical-align:text-top;">({{ entry.infobox_med_effect_rr_route }})</span>{% endif %}
            <span style="letter-spacing:2px;">{{ entry.infobox_med_effect_rr }}</span>
            {% endif %}
        </td>
        <td>
            {{ entry.infobox_med_pain }}
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>