<table style="width:fit-content;">
    <tr>
        <th style="padding-left:5px;padding-right:5px;">Item</th>
        <th style="padding-left:5px;padding-right:5px;">Type</th>
        <th style="padding-left:5px;padding-right:5px;">Use</th>
        <th style="padding-left:5px;padding-right:5px;">Use Count</th>
        <th style="padding-left:5px;padding-right:5px;">Category</th>
        <th style="padding-left:5px;padding-right:5px;">Access Body Part</th>
        <th style="padding-left:5px;padding-right:5px;">Condition</th>
        <th style="padding-left:5px;padding-right:5px;">Weight</th>
    </tr>
{% for entry in site.pages %}
    {% if entry.page_category contains 'circulation' and entry.page_category contains 'device' %}
    <tr>
        <td style="text-align:left;padding:4px;">
            <img src="{{ entry.infobox_image | relative_url }}" height="50"> {% if entry.infobox_item_multiitem %}
            <a href="{{ entry.title }}">{{ entry.title }}</a> <span style="font-size:11px;">(
                {%- for text in entry.infobox_item_multiitem_variants %}
                {{- text }}{% unless forloop.last %} | {% endunless -%}
                {% endfor -%}
            )</span>
            {% else %}
            <a href="{{ entry.title }}">{{ entry.title }}</a>
            {% endif %}
        </td>
        <td>
            {{ entry.infobox_item_type }}
        </td>
        <td style="text-align:left;">
            {{ entry.export_use }}
        </td>
        <td style="text-align:center;font-size:18px;">
            {% if entry.infobox_item_usecount > 1 %}
            {{entry.infobox_item_usecount}}x
            {% elsif entry.infobox_item_usecount == 0 %}
            Re-usable
            {% else %}
            Single-use
            {% endif %}
        </td>
        <td>
            {% case entry.infobox_use_category %}
                {% when "airway" %}
                <img src="{{ '/wiki/image/category_airway.png' | relative_url }}" height="40"><span style="margin-left:4px;">Airway</span>
                {% when "advanced" %}
                <img src="{{ '/wiki/image/category_advanced.png' | relative_url }}" height="40"><span style="margin-left:4px;">Advanced Treatment</span>
                {% when "examine" %}
                <img src="{{ '/wiki/image/category_examine.png' | relative_url }}" height="40"><span style="margin-left:4px;">Examine</span>
                {% when "medication" %}
                <img src="{{ '/wiki/image/category_medication.png' | relative_url }}" height="40"><span style="margin-left:4px;">Medication</span>
                {% else %}
                <img src="{{ '/wiki/image/category_bandage.png' | relative_url }}" height="40"><span style="margin-left:4px;">Bandage/Fracture</span>
            {% endcase %}
            {% if entry.infobox_use_category2 %}<br>
            {% case entry.infobox_use_category2 %}
                {% when "airway" %}
                <img src="{{ '/wiki/image/category_airway.png' | relative_url }}" height="40"><span style="margin-left:4px;">Airway</span>
                {% when "advanced" %}
                <img src="{{ '/wiki/image/category_advanced.png' | relative_url }}" height="40"><span style="margin-left:4px;">Advanced Treatment</span>
                {% when "examine" %}
                <img src="{{ '/wiki/image/category_examine.png' | relative_url }}" height="40"><span style="margin-left:4px;">Examine</span>
                {% when "medication" %}
                <img src="{{ '/wiki/image/category_medication.png' | relative_url }}" height="40"><span style="margin-left:4px;">Medication</span>
                {% else %}
                <img src="{{ '/wiki/image/category_bandage.png' | relative_url }}" height="40"><span style="margin-left:4px;">Bandage/Fracture</span>
            {% endcase %}
            {% endif %}
        </td>
        <td style="padding:0;">
            {% case entry.infobox_use_selection %}
                {% when "head" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_head.png' | relative_url }}" height="64"></div><div class="infobox-selection-text">Head</div>
                {% when "arms" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_arms.png' | relative_url }}" height="64"></div><div class="infobox-selection-text">Arms</div>
                {% when "limbs" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_limbs.png' | relative_url }}" height="64"></div><div class="infobox-selection-text">Arms<br>Legs</div>
                {% when "torso" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_torso.png' | relative_url }}" height="64"></div><div class="infobox-selection-text">Torso</div>
                {% when "upper" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_head_torso_arms.png' | relative_url }}" height="64"></div><div class="infobox-selection-text">Head<br>Torso<br>Arms</div>
                {% when "body" %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_torso_limbs.png' | relative_url }}" height="64"></div><div class="infobox-selection-text">Torso<br>Arms<br>Legs</div>
                {% else %}
                <div class="infobox-selection-img"><img src="{{ '/assets/images/infobox/body_select_all.png' | relative_url }}" height="64"></div><div class="infobox-selection-text">All</div>
            {% endcase %}
        </td>
        <td style="text-align:left;">
            {{ entry.export_condition }}
        </td>
        <td>
            {{ entry.infobox_item_weight }}
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>